* {
    box-sizing: border-box;
    font-family: "AppleSDGothicNeoB";
    /* font-size: 1.2rem; */
    font-weight: 600;

}

body {
    /* width: 100vw;
    height: 100vh;
    padding: 10px; */
    /* border: solid 13px black */
}

/* nav bar */
.header{
    display: flex;
    justify-content: space-between;
    
}

.service_status{
    display: flex;
    float: left;
    justify-content: space-between;
}

#skt{
    padding-right: 5px;
    font-size: small;
    font-size: 0.8rem;
}

.fa-wifi{
    font-size: 0.8rem;
} 

.time_now{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

#battery_status{
    padding-right: 5px;
}

.fa-battery-full{
    padding-right: 5px;;
}

.battery{
    display: flex;
    justify-content: space-between;
}

/* welcome */

.welcome{
    margin-top: 55px;
}

.hi{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: x-large;
}

.info{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size:medium;
    text-align: center;
    margin-top:20px;
    color: gray;
}

/* login */

.login{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 60px;
}

input[type=text]{
    width:85vw;
    height:10vh;
    border:none;
    border-bottom:solid 1px gray;

}

input[type="text"]:focus {
    border-bottom: 2px solid rgb(255, 226, 36);
    outline: none;
}

input[type="password"]{
    width:85vw;
    height:10vh;
    margin-top: 10px;
    border:none;
    border-bottom:solid 1px gray;
}

input[type="password"]:focus {
    border-bottom: 2px solid rgb(255, 226, 36);
    outline: none;
}

input[type=submit]{
    width:85vw;
    height:8vh;
    margin-top: 40px;
    background-color: rgb(255, 226, 36);
    outline: none;
    border: none;
    border-radius: 8px;
}

input[value="Log in"]{
    font-size: large;
}

/* finding */
.finding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}